*{
	margin: 0;
	padding: 0;
}
.title{
	width: 1100px;
	margin: 0 auto;
	background-color: red;
	color: white;
	padding: 50px 50px;
}
.title h1{
	text-align: center;
}
#input{
	width: 80%;
	padding: 10px;
	border: none;
	margin-right: -4px;
}
#add{
	width: 18%;
	padding: 10px;
	border: none;
}
table{
	width: 1200px;
	margin: 0 auto;
}
table .list{
	line-height: 40px;
	background-color: #dedbdba8;
	font-size: 20px;
}
table .checkbox{
	width: 45px;
	text-align: center;
}
table .btn{
	width: 46px;
    text-align: center;
}