*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
body{
	background-color: #F6F6F6;
}
.can-le{
	width: 85%;
	margin: 0 auto;
}
a{
	text-decoration: unset;
	color: white;
} 
.clear{
	clear: both;
}
.menu-chon{
	display: none;
}
.mau{
	color: #eabb72 !important;
}
#header{
	width: 75%;
	margin: 0 auto;
	text-align: center;
}
#header li{
	display: inline-block;
	width: 16%;
	padding: 2% 0;
	font-family: 'Adamina', serif;
	font-style: italic;
}
.header-font-1{
	color: #181d21ba;
	font-size: 13px;
}
.header-font-2{
	font-size: 11px;
	color: #D4D5D4;
}
.content-1{
	background-image: url('../images/1.jpg');
	width: 100%;
	color: white;
}
.content-1-1 li{
	display: inline-block;
	margin-top: 11%;
	background-color: #C9A96E;
	width: 7%;
	line-height: 30px;
	text-align: center;
}
.mau-1{
	color: #f1ede8;
}
.font-1{
	font-size: 48px;
	margin: 2% 0;
	font-family: 'Prata', serif;
}
.content-1-2{
	display: inline-block;
	width: 30%;
	margin: 4% 0;
	border-top: 1px solid;
	margin-right: 2%;
}
.content-1-2-left{
	display: inline-block;
	padding-right: 3px;
}
.content-1-2-right{
	display: inline-block;
}
.font-2{
	font-size: 20px;
}
.content-2{
	margin: 4% 0;
	background-color: white;
	width: 30%;
	display: inline-block;
}
.content-2>img{
	width: 100%;
}
.content-2 p{
	margin: 4% 0;
}
.chu-nghieng{
	font-style: italic;
}
.font-2-1{
	color: #888d90;
	font-style: italic;
}
.font-2-2{
	font-family: 'Prata', serif;
	font-size: 16px;
	color: #434A54 ;
}
.font-2-3{
	color: #c9a96e;
}
.can-le-2{
	margin: 4%;
}
.content-2:hover img{
	opacity: 0.5;
}
.content-3{
	width: 100%;
	height: 360px;
	background-image: url('../images/55.png');
	background-repeat: no-repeat;
	background-size: 100% 360px;
	position: relative;
	color: white;
}
.box{
	width: 23%;
	height: 260px;
	border: 2px solid #c9a96e;
	position: absolute;
	top: 13%;
	left: 12%;
}
.content-3-1{
	position: absolute;
	top: 30%;
	left: 16%;
}
.font-3-1{
	font-size: 36px;
	font-family: 'Prata', serif;
	display: block;
	background: #7b1219;
}
.font-3-2{
	padding: 2% 0;
	background: #7b1219;
}
.content-3-1>a>p{
	background-color: black;
	font-family: 'Adamina', serif;
	font-style: italic;
	width: 20%;
	text-align: center;
	font-size: 12px;
	line-height: 35px;
	margin-top: 3%;
}
.content-4{
	margin: 4% 0;
}
.content-4-left{
	width: 25%;
	float: left;
}
.menu-left-1-1{
	width: 100%;
}
.menu-left-1-1>span{
	font-size: 13px;
}
.menu-left-1-1>hr{
	width: 60px;
	background: #c9a96e;
	display: inline-block;
	border: 3px solid #c9a96e;
	vertical-align: middle;
}
.menu-left-1-2{
	border-bottom: 1px solid #ccc;
	padding: 7% 0;
}
.font-4-1{
	color: #c5c5c5;
	font-size: 48px;
	display: inline-block;
}
.noi-dung{
	display: inline-block;
	width: 75%;
}
.font-3-3{
	font-size: 16px;
	margin:  5% 0;
	color: black !important;
	font-family: 'Prata', serif;
}
.noi-dung>a>p:hover{
	color: #c9a96e !important;
}
.noi-dung>span , {
	font-style: italic;
	color: #888d90;
}
.fa-heart-o{
	color: #ff00006e !important;
}
.menu-left-2{
	margin: 8% 0;
}
.font-4-2{
	font-size: 32px;
	font-family: Prata;
}
.font-4-3{
	color: #3f4549;
	font-size: 18px;
}
.menu-left-2-2{
	margin: 10% 0;
	border: 1px solid #ccc;
	position: relative;
	height: 510px;
	background-color: white;
}
.menu-left-2-2>img{
	width: 100%;
}
.menu-left-2-2>img:hover{
	opacity: 0.5;
}
.circle{
	background-color: black;
	color: white;
	border-radius: 50%;
	border: 10px solid black;
	line-height: 39px;
	position: absolute;
	top: 3%;
	left: 8%;
}
.text-center{
	position: absolute;
	z-index: 2;
	top: 25%;
	margin: 0 10%;
	background-color: white;
	padding: 5% 0;
	line-height: 25px;
}
.menu-left-2-2 ul{
	position: absolute;
	top: 340px;
	width: 100%;
}
.menu-left-2-2 li{
	border-top: 1px solid #ccc;
	margin: 5% 0;
}
.content-4-right{
	float: left;
	width: 71%;
	margin-left: 3%;
}
.title-4-2{
	color: #3f4549;
	font-family: Prata;
}
.items-4{
	margin: 4% 0;
	position: relative;
}
.items-4>img{
	width: 70%;
}
.items-4>img:hover{
	opacity: 0.5;
}
.items-4>center{
	background-color: white;
	width: 40%;
	z-index: 2;
	position: absolute;
	top: 13%;
	right: -5%;
	padding: 4% 0;
}
.items-4 p, .items-4 span{
	/*padding-top: 8%;*/
}
.font-4-4{
	color: #434A54;
	font-size: 25px;
	font-family: Prata;
}
.content-5{
	background-color: black;
	color: white;
	padding: 5%;
}
.items-5{
	width: 21%;
	display: inline-block;
	position: relative;
	height: 200px;
	margin: 3% 1%;
	background-size: 100%;
	background-repeat: no-repeat;
}
.items-5:hover{
	opacity: 0.7;
}
.bg-14{
	background-image: url('../images/14.jpg');
}
.bg-15{
	background-image: url('../images/15.jpg');
}
.bg-16{
	background-image: url('../images/16.jpg');
}
.bg-17{
	background-image: url('../images/17.jpg');
}
.items-5>a>p{
	background-color: #c9a96e;
	width: 33%;
	text-align: center;
	line-height: 28px;
	font-style: italic;
	margin-left: 30%;
	display: inline-block;
}
.right{
	float: right;
	line-height: 28px;
	padding-right: 4%;
}
.font-5-1{
	font-size: 52px;
	font-family: Prata;
	text-align: center;
}
.font-5-2{
	color: #c4c4c4;
	text-align: center;
	font-size: 20px;
}
.can-duoi{
	bottom: 0px;
	width: 100%;
	position: absolute;
	text-align: center;
	padding-bottom: 5%;
}
.font-5-3{
	font-size: 14px;
	font-family: Prata;
}
.content-6-1{
	color: #424647;
	margin: 12% 0;
	padding:0 1%;
	background-color: white;
	width: 29%;
	padding-bottom: 3%;
	float: left;
}
.font-6-1{
	font-family: Prata;
	font-size: 23px;
	
}
.le-duoi{
	border-bottom: 2px solid #c9a96e;
	padding: 10%;
}
.font-6-2{
	font-size: 22px;
}
.font-6-3{
	font-size: 47px;
}
.font-6-4>p {
	color: #595959;
	padding: 4% 0;
	font-size: 15px;
	font-family: Prata;
}
.content-6-1 a>p, .content-6-2 a>p{
	background-color: black;
	width: 40%;
	line-height: 35px;
}
.content-6-2{
	color: #424647;
	margin: 9% 2%;
	padding:5% 1%;
	background-color: white;
	width: 28%;
	padding-bottom: 3%;
	float: left;
	position: relative;
}
.circle-6{
	background-color: black;
	color: white;
	border-radius: 50%;
	border: 15px solid black;
	line-height: 20px;
	position: absolute;
	top: -5%;
	right: 5%;
}
.content-7{
	margin: 5% 0;
}
.content-7-left{
	float: left;
	width: 22%;
}
.font-7-1{
	color: #303030;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}
.font-7-2{
	font-size: 31px;
	font-family: Prata;
	margin-bottom: 5%;
}
.font-7-3{
	color: #808080;
	font-size: 16px;
}
.content-7-left>a>span{
	color: #C9A96E;
	border: 1px solid #C9A96E;
	text-align: center;
	line-height: 42px;
	width: 70%;
	font-size: 12px;
	margin-top: 10%;
}
.content-7-right{
	float: left;
	margin-left: 1%;
	width: 74%;
}
.content-7-right>ul>li{
	float: left;
	width: 30%;
	margin-left: 3%;
}
.items-7{
	background-color: white;
    padding-bottom: 28%;
    position: relative;
    margin-bottom: 20%;
}
.items-7>img{
	width: 100%;
}
.sales{
	position: absolute;
	background-color: #c9a96e;
	color: white;
	text-align: center;
	line-height: 26px;
	width: 28%;
	font-weight: 700;
	top: 2%;
	z-index: 2;
	font-size: 12px;
	transform: rotate(-90deg);
}
.font-7-4{
	text-align: center;
	color: #434A54;
	font-size: 15px;
	font-family: Prata;
	padding-top: 6%;
}
.can-le-7{
	padding: 9% 12%;
	width: 76%;
}
.san-pham{
	float: left;
	color: #c5c5c5;
	font-style: italic;
}
.gia{
	float: right;
	text-align: right;
	color: #c9a96e;
	font-family: 'Lobster', cursive;
}
.gia-1{
	opacity: 0.6;
	text-decoration: line-through;
}
.gia-2{
	font-size: 16px;
}
.fa-star:before{
	color: #FCB838;
	font-size: 13px;
}
.fa-star-o:before{
	color: #ccc;
	font-size: 13px;
}
.content-8{
	border: 1px solid #c9a96e;
	padding: 5% 1%;
	position: relative;
}
.fa-quote-right{
	position: absolute;
	background-color: #f6f6f6;
	top: -5%;
	color: #d4d2d2;
	padding: 0 3%;
}
.fa-arrow-left{
	position: absolute;
	left: 3%;
	top: 50%;
}
.fa-arrow-right{
	position: absolute;
	right: 3%;
	top: 50%;
}
.font-8-1{
	color: #c9a96e;
	font-size: 20px;
	font-style: italic;
	margin: 0 15%;
	line-height: 37px;
	font-family: Prata;
}
.content-8 img{
	border-radius: 50%;
	margin: 4% 0;
}
.font-8-2{
	font-size: 18px;
	font-weight: bold;
	font-family: 'Merriweather', serif;
}
.font-8-3{
	font-size: 16px;
	font-style: italic;
	color: #c5c5c5;
	margin: 1% 0;
}
.content-9{
	margin: 4% 0;
}
.items-9-1{
	float: left;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 27%;
	height: 8px;
	margin-top: 5%;
}
.items-9-2{
	float: left;
	width: 30%;
	padding: 0 8%
}
.font-9-1{
	font-size: 42px;
	font-family: Prata;
}
.font-9-2{
	color: #3f4549;
	font-size: 17px;
	padding-top: 3%;
}
.items-10{
	width: 18%;
	background-color: white;
	text-align: center;
	padding: 2% 2%;
	margin: 5% 1%;
	display: inline-block;
}
.items-10>img{
	border: 1px solid #c9a96e;
	padding: 8%;
	width: 71%;
}
.font-10-1{
	font-size: 19px;
	font-family: Prata;
	font-weight: 400;
	margin: 5% 0;
}
.circle-10{
	color: #c9a96e;
	border-radius: 50%;
	padding: 4%;
	margin-top: 10%;
	width: 10%;
	border: 2px solid #c9a96e;
}
.font-10-2{
	color: #c5c5c5;
	font-size: 14px;
}
.content-11{
	background-color: black;
	color: white;
	padding: 5% 0;
	float: left;
}
.content-11-1>ul>li{
	width: 44%;
	margin-right: 4%;
	display: inline-block;
}
.content-11-1>ul>li>img{
	width: 100%;
	margin: 16% 0;
}
.content-11-1>ul>li>span{
	font-size: 12px;
}
.content-11-1, .content-11-2, .content-11-3, .content-11-4{
	width: 23%;
	margin-right: 1%;
	float: left;
}
.font-11-1>li{
	margin: 5% 0;
	font-size: 18px;
}
.font-11-2>li, .font-11-3{
	padding: 1% 6%;
	display: inline-block;
	margin-top: 5%;
	line-height: 30px;
	text-align: center;
	background-color: #ce5d11;
}
.content-11-3>ul{
	margin-top: 28%;
	margin-bottom: 35%;
	width: 100%;
}
.content-11-3>ul>li{
	display: inline-block;
	width: 23%;
}
.content-11-3>ul>li>img{
	width: 100%;
	border-radius: 15%;
}
.content-11-3>input{
	padding: 4%;
	margin: 17% 0;
	width: 90%;
}
.content-11-4 input{
	background-color: #504b4b;
	border: 1px solid #504b4b;
}
.items-11-1>li{
	width: 40%;
	display: inline-block;
}
.items-11-1>li>input{
	width: 80%;
	padding: 8%;
}
.content-11-4 >input{
	padding: 30% 11%;
}
.font-11-4-1{
	margin-bottom: 17%;
}
.items-11-1{
	margin-bottom: 10%;
}
.content-12{
	background-color: #292626;
	color: white;
}
.font-12-1{
	font-size: 16px;
}
.content-12 ul>li{
	display: inline-block;
	width: 37%;
	margin: 5% 0;
}
.circle-12{
	color: #c9a96e;
	border-radius: 50%;
	padding: 5%;
	width: 7%;
	border: 2px solid #c9a96e;
}
.font-12-2{
	padding-bottom: 5%;
}
@media (min-width: 756px){
	
}
@media (max-width: 756px) and (min-width: 480px){
	#header {
		width: 97%;
	}
	.header-font-1 {
		font-size: 10px;
	}
	.fa-chevron-down:before {
		font-size: 10px;
	}
	.header-font-2 {
		font-size: 9px;
	}
	#header li {
		width: 14%;
	}
	.content-1{
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.content-1-1 li {
		width: 14%;
		margin-top: 3%;
	}
	.font-1 {
		font-size: 30px;
	}
	.content-1-2{
		display: none;
	}
	.content-2{
		width: 100%;
	}
	.can-le-2{
		margin: 0;
	}
	.box {
		width: 33%;
		height: 256px;
		left: 8%;
	}
	.font-3-1 {
		font-size: 20px;
	}
	.content-3-1>a>p{
		font-size: 10px;
		width: 24%;
	}
	.content-4-left{
		width: 100%;
	}
	.text-center{
		width: 90%;
		margin: 0  5%;
		top: 50%;
		padding: 0;
	}
	.menu-left-2-2 ul{
		top: 70%;
	}
	.menu-left-2-2{
		height: 800px;
	}
	.menu-left-2-2 li{
		margin: 0;
	}
	.content-4-right {
		width: 100%;
		margin-left: 0%;
	}
	.items-4>img{
		width: 100%;
	}
	.items-4>center{
		width: 100%;
		position: unset;
	}
	.font-5-1{
		font-size: 30px;
	}
	.font-5-2 {
		font-size: 17px;
	}
	.bg-16,.bg-17{
		display: none;
	}
	.items-5 {
		width: 47%;
	}
	.content-6-1,.content-6-2{
		width: 100%;
	}
	.content-7-left,.content-7-right{
		width: 100%;
	}
	.content-7-right>ul>li{
		width: 45%;
		clear: none;
	}
	.content-7-left>a>span{
		width: 30%;
	}
	.sales {
		width: 15%;
	}
	.font-8-1{
		font-size: 14px;
		line-height: 21px;
	}
	.font-8-2,.font-9-2{
		font-size: 14px;
	}
	.font-9-1 {
		font-size: 26px;
	}
	.items-10{
		width: 43%;
	}
	.circle-10 {
		padding: 4%;
    	width: 10%;
	}
	.content-11-1, .content-11-2, .content-11-3, .content-11-4{
		width: 100%;
	}
	.content-11-1>ul>li{
		width: 45%;
		margin-bottom: 5%;
	}
	.font-11-2>li{
		padding: 1% 3%;
	}
	.content-11-3>ul {
		margin-top: 13%;
	}
	.items-11-1>li{
		width: 100%;
	}
	.items-11-1>li>input {
		width: 90%;
		padding: 3%;
	}
	.content-11-4 >input {
		padding: 18% 11%;
		width: 74%;
	}
	.circle-12{
		padding: 5%;
    	width: 10%;
	}
}
@media (max-width: 480px){
	#header {
		width: 76%;
		margin: 7%;
		background-color: white;
		padding: 4%;
		box-shadow: 2px 2px 2px 2px #ccc;
	}
	.menu-chon{
		display: block;
		text-align: right;
	}
	.content-1{
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.header-font-1 {
		font-size: 10px;
	}
	.fa-chevron-down:before {
		font-size: 10px;
	}
	.header-font-2 {
		font-size: 9px;
	}
	#header li {
		display: none;
	}
	.content-1-1 li {
		width: 14%;
		margin-top: 3%;
		line-height: 22px;
	}
	.font-1 {
		font-size: 20px;
	}
	.menu-left-1-2{
		padding: 3% 0;
	}
	.content-1-2{
		display: none;
	}
	.content-2{
		width: 100%;
	}
	.can-le-2{
		margin: 0;
	}
	.box {
		width: 33%;
		height: 256px;
		left: 8%;
	}
	.font-3-1 {
		font-size: 20px;
	}
	.content-3-1>a>p{
		font-size: 10px;
		width: 24%;
	}
	.content-4-left{
		width: 100%;
	}
	.text-center{
		top: 227px;
	}
	.menu-left-2-2 ul{
		top: 455px;
	}
	.menu-left-2-2{
		height: 681px;
	}
	.font-4-2{
		font-size: 26px;
	}
	.title-4-2{
		font-size: 15px;
	}
	.content-4-right {
		width: 100%;
		margin-left: 0%;
	}
	.items-4>img{
		width: 100%;
	}
	.items-4>center{
		width: 100%;
		position: unset;
	}
	.font-4-4 {
		font-size: 21px;
	}
	.font-5-1{
		font-size: 30px;
	}
	.font-5-2 {
		font-size: 17px;
	}
	.bg-15,.bg-16,.bg-17{
		display: none;
	}
	.items-5 {
		width: 100%;
	}
	.content-6-1,.content-6-2{
		width: 100%;
	}
	.content-7-left,.content-7-right{
		width: 100%;
	}
	.content-7-right>ul>li{
		width: 100%;
	}
	.items-7 {
		padding-bottom: 10%;
		margin-bottom: 10%;
	}
	.content-7-left>a>span{
		width: 30%;
	}
	.sales {
		width: 15%;
	}
	.font-8-1{
		font-size: 14px;
		line-height: 21px;
	}
	.font-8-2,.font-9-2{
		font-size: 14px;
	}
	.font-9-1 {
		font-size: 26px;
	}
	.items-10{
		width: 100%;
	}
	.circle-10 {
		padding: 2%;
		width: 4%;
	}
	.content-11-1, .content-11-2, .content-11-3, .content-11-4{
		width: 100%;
	}
	.content-11-1>ul>li{
		width: 100%;
		margin-bottom: 5%;
	}
	.font-11-2>li{
		padding: 1% 3%;
	}
	.content-11-3>ul {
		margin-top: 13%;
	}
	.items-11-1>li{
		width: 100%;
	}
	.items-11-1>li>input {
		width: 90%;
		padding: 3%;
	}
	.content-11-4 >input {
		padding: 18% 11%;
		width: 74%;
	}
	.circle-12 {
		padding: 3%;
    	width: 10%;
	}
	.font-12-2{
		display: none;
	}
	.gia-1,.gia-2{
		display: inline-block;
	}
}